node_modules
build
storybook-static

coverage

.eslintcache
.DS_Store
npm-debug.log*

.vscode/*
!.vscode/settings.json

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

yarn-debug.log*
yarn-error.log*