.tp-body_1 {
  font-weight: 400;
  font-size: 12px;
}

.tp-body_2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.tp-label_1 {
  font-weight: 500;
  font-size: 10px;
}

.tp-head_1 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
}

.tp-head_3 {
  font-size: 19px;
  font-weight: 600;
  line-height: 23px;
}

.tp-head_4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.tp-head_5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
